# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env/
.env/*
.venv/
*.env
*.venv
pip-log.txt
pip-delete-this-directory.txt

# Python artifacts
*.egg-info/
dist/
build/

# VSCode
.vscode/

# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React production build
/build/

# Backend downloaded model files
backend/models/wiroai/

# Miscellaneous
*.log
*.sqlite3
*.db

# JetBrains IDEs
.idea/

# Sensitive files (add to your discretion)
.envrc
.env.local
.env.production
.env.*.local
